.admin.characteristic_container{:style => "height: #{characteristic_container.form_layout.height}px; width: 680px"}
  = render :partial => 'form_layouts/characteristic', :collection => characteristic_container.characteristics


