%h2 
  Создание нового контейнера характеристик для
  [
  = link_to @category.name, @category, :class => 'red'
  (
  = render :partial => 'shared/breadcrumbs', :object => breads_for(@category)
  )
  ]

= render :partial => 'form'
= link_to 'Вернуться к списку контейнеров', [@category, CharacteristicContainer]

.clear.h25
.clear.h25
