html.busy, html.busy * {
  cursor: wait !important; }

[disabled] {
  color: gray;
  background-color: #ffc; }

.w100p {
  width: 100%;
  clear: both; }

.w25 {
  width: 25px; }

.w210 {
  width: 210px; }

.w240 {
  width: 240px; }

.w480 {
  width: 480px; }

/* FIXME: remove me */
.w680 {
  width: 680px; }

.w680max {
  max-width: 680px; }

/* FIXME: remove me */
.h25 {
  height: 25px; }

.h15 {
  height: 15px; }

.ml15 {
  margin-left: 15px; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both;
  width: 100%; }

.b {
  font-weight: bold; }

.n {
  font-weight: normal; }

.i {
  font-style: italic; }

.l {
  color: gray; }

.center {
  margin: 0 auto;
  text-align: center; }

.relative {
  position: relative; }

.red {
  color: red; }

.black {
  color: black; }

.green {
  color: green; }

.orange {
  color: orange; }

.blue {
  color: blue; }

.fixed {
  position: fixed; }

.top0 {
  top: 0; }

.bottom0 {
  bottom: 0; }

.right0 {
  right: 0; }

.left0 {
  left: 0; }

.tac {
  text-align: center; }

.fs13 {
  font-size: 13pt; }

/*.fs8  { font-size: 8pt;  }*/
.dashed {
  text-decoration: none;
  border-bottom: 1px dashed gray; }

.primary {
  font-weight: bold; }

.pointer {
  cursor: pointer; }

.invalid {
  border: 1px solid red;
  padding-bottom: 2px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-box-shadow: inset 0px 0px 3px #ccaf82;
  -moz-box-shadow: inset 0px 0px 3px #ccaf82;
  box-shadow: inset 0px 0px 3px #ccaf82;
  -webkit-box-shadow: 2px 2px 2px #aaaaaa;
  -moz-box-shadow: 2px 2px 2px #aaaaaa;
  box-shadow: 2px 2px 2px #aaaaaa; }

body {
  font-family: Arial;
  font-size: 10pt;
  color: black;
  padding: 0;
  margin: 10px 20px 20px 20px; }

h2 {
  color: #444;
  font-size: 13pt;
  margin: 0;
  padding: 0; }

h1 {
  color: #333;
  font-size: 14pt;
  margin: 0;
  padding: 0;
  font-weight: normal; }

ul {
  margin: 0;
  padding: 0; }

hr {
  border: none;
  border-bottom: 1px solid green; }

small {
  font-size: 8pt; }

span {
  padding: 0;
  margin: 0; }

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer; }
  a:hover {
    text-decoration: none;
    color: orange; }
  a img {
    padding: 0;
    margin: 0;
    color: white; }

label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }
  label:hover {
    color: gray;
    cursor: pointer; }

.breadcrumbs {
  font-size: 9pt; }
  .breadcrumbs a {
    color: black; }

.pagination {
  font-size: 9pt;
  padding-top: 2px; }
  .pagination span {
    font-size: 9pt; }
    .pagination span.disabled {
      display: none; }
  .pagination a {
    text-decoration: none; }
    .pagination a:hover {
      color: blue;
      text-decoration: underline; }
    .pagination a.previous_page, .pagination a.next_page {
      text-decoration: underline; }
  .pagination em {
    color: orange;
    font-weight: bold;
    font-style: normal; }

.banner {
  background: orange;
  margin: 4px 0 4px 4px;
  text-align: center;
  height: 100px;
  overflow: hidden;
  display: table; }
  .banner span {
    font-size: 25pt;
    color: white;
    display: table-cell;
    vertical-align: middle; }

#header {
  width: 100%; }
  #header #weather {
    font-size: 9pt;
    float: right; }
    #header #weather .city {
      color: red; }
    #header #weather .temp {
      color: #458cfe; }
  #header #logo {
    float: left; }
    #header #logo a.dashed {
      font-size: 10pt;
      color: black;
      text-decoration: none;
      border-bottom: 1px dashed gray; }
      #header #logo a.dashed:hover {
        border-color: black; }
    #header #logo .home {
      width: auto;
      padding-left: 20px;
      background-image: url("/images/home.png");
      background-repeat: no-repeat; }
    #header #logo .letter {
      width: auto;
      padding-left: 20px;
      margin-left: 10px;
      background-image: url("/images/letter.png");
      background-repeat: no-repeat; }
  #header #slogan {
    width: 240px;
    float: left;
    display: table;
    height: 100px; }
    #header #slogan span {
      color: gray;
      font-weight: bold;
      text-align: center;
      display: table-cell;
      vertical-align: middle; }

#subheader {
  width: 100%;
  margin-left: 4px; }
  #subheader .orange-button {
    text-align: center;
    color: white;
    background: url(/images/ad.png);
    font-weight: bold;
    width: 203px;
    height: 34px; }
    #subheader .orange-button:hover {
      background-position: 0 100%;
      cursor: pointer; }
  #subheader #main-menu {
    list-style-image: none;
    list-style: none;
    list-style-type: none;
    height: 25px;
    margin-left: 40px;
    border-bottom: 1px solid black; }
    #subheader #main-menu li {
      float: left;
      margin: 0 0 0 30px; }
      #subheader #main-menu li:first-child {
        margin: 0; }
      #subheader #main-menu li:hover {
        background: url("/images/arrow_transp.png") no-repeat center top;
        padding-bottom: 25px; }
        #subheader #main-menu li:hover a {
          color: orange; }
      #subheader #main-menu li.active {
        background: url("/images/arrow.png") no-repeat center top;
        padding-bottom: 25px; }
        #subheader #main-menu li.active a {
          color: #458cfe; }
      #subheader #main-menu li a {
        color: black;
        text-decoration: none;
        font-size: 11pt; }
  #subheader #login {
    width: 240px; }
    #subheader #login label {
      font-size: 8pt;
      position: relative;
      top: -2px; }
    #subheader #login input {
      margin-right: 4px; }
      #subheader #login input[type=checkbox] {
        margin: 4px 0 0 0; }
      #subheader #login input[type=text], #subheader #login input[type=password] {
        border: 1px solid #458cfe;
        width: 80px;
        font-size: 8pt; }
      #subheader #login input[type=submit] {
        cursor: pointer;
        background-image: url("/images/login.png");
        width: 54px;
        height: 16px;
        border: none; }
    #subheader #login a {
      font-size: 8pt;
      color: orange; }
      #subheader #login a:hover {
        color: green; }
      #subheader #login a .logout {
        float: right;
        width: 63px;
        height: 16px;
        background-image: url("/images/logout.png"); }
        #subheader #login a .logout:hover {
          background-position: center bottom; }

#footer {
  width: 100%; }
  #footer ul.links {
    list-style-image: none;
    list-style: none;
    list-style-type: none;
    margin-top: 5px; }
    #footer ul.links li {
      float: left;
      margin: 0 0 0 30px; }
      #footer ul.links li a {
        color: blue; }
      #footer ul.links li:first-child {
        margin-left: 0; }
  #footer .text, #footer #counters, #footer #rules, #footer #copyrights {
    color: gray;
    font-size: 8pt;
    margin: 10px; }
  #footer #rules {
    padding-left: 15px;
    background: url("/images/warning.png") no-repeat; }

#categories-list ul {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  list-style-image: none;
  list-style: none;
  list-style-type: none;
  margin: 10px 0 0 0;
  background: #eaeaea; }
  #categories-list ul li {
    padding: 8px 0 8px 0;
    border-bottom: 1px solid #CCC; }
    #categories-list ul li:last-child {
      border: none; }
    #categories-list ul li:hover {
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
      background: #F0F0F0; }
    #categories-list ul li a {
      color: darkblue;
      font-size: 11pt;
      text-decoration: none; }
      #categories-list ul li a:hover {
        color: orange;
        text-decoration: underline; }

#popular-categories ul {
  list-style-image: none;
  list-style: none;
  list-style-type: none; }
  #popular-categories ul li {
    color: gray;
    padding: 10px 0 0 0; }

#recent-lots {
  width: 480px; }
  #recent-lots ul {
    list-style-image: none;
    list-style: none;
    list-style-type: none;
    font-size: 10pt;
    margin-bottom: 20px; }

.filter {
  width: 680px; }
  .filter .fields_container {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    background: #ddeffd; }
    .filter .fields_container input[type=text] {
      border: 1px solid #458cfe;
      width: 80px;
      font-size: 9pt; }
    .filter .fields_container input[type=submit] {
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 75px;
      height: 18px;
      background: url("/images/search.png") no-repeat;
      border: none;
      cursor: pointer; }
      .filter .fields_container input[type=submit]:hover {
        background-position: 0 bottom; }
    .filter .fields_container .time-range label {
      font-weight: bold; }
  .filter .heap h1 {
    color: orange;
    font-size: 14pt;
    font-weight: normal;
    margin: 2px 2px 2px 15px;
    padding-top: 6px; }
  .filter .heap .tab {
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    float: left;
    text-align: center;
    padding: 8px 15px 8px 15px;
    font-size: 12pt; }
    .filter .heap .tab.active {
      background: #ddeffd; }
    .filter .heap .tab a {
      font-size: inherit;
      text-decoration: none;
      border-bottom: 1px dashed red;
      cursor: pointer;
      color: black; }
    .filter .heap .tab:hover {
      background-color: #ebf6fe; }
  .filter .heap .right {
    margin-right: 20px; }

.checkbox {
  margin: 4px 5px 0 0;
  height: 9px;
  width: 9px;
  float: left; }
  .checkbox.yes {
    background: url(/images/checked-grey.gif) no-repeat; }
  .checkbox.no {
    background: url(/images/checkedcross-grey.gif); }
  .checkbox.does_not_matters {
    background: url(/images/check-grey.gif); }

.time-range label {
  font-weight: bold; }

.time-range {
  position: absolute; }

.value {
  position: relative; }

.canvas .container {
  background: url(/images/backgrounds/blue50g.png);
  border: 1px dotted; }
.canvas .fields_container {
  position: relative;
  background: url(/images/ui/grid.gif);
  border: 1px solid gray; }
.canvas .characteristic .value {
  padding-left: 4px;
  background: url(/images/backgrounds/blue50g.png); }
.canvas .characteristic {
  cursor: move;
  border: 1px dotted;
  background: url(/images/backgrounds/transp.png); }

form table tr {
  vertical-align: top; }

input[type=text], input[type=password] {
  border: 1px solid #458cfe;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -webkit-box-shadow: inset 0px 0px 3px #ccaf82;
  -moz-box-shadow: inset 0px 0px 3px #ccaf82;
  box-shadow: inset 0px 0px 3px #ccaf82; }
  input[type=text]:hover, input[type=password]:hover {
    background: white;
    border: 1px solid orange; }

textarea {
  border: 1px solid #458cfe;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -webkit-box-shadow: inset 0px 0px 3px #ccaf82;
  -moz-box-shadow: inset 0px 0px 3px #ccaf82;
  box-shadow: inset 0px 0px 3px #ccaf82; }
  textarea:hover {
    background: white;
    border: 1px solid orange; }

.save {
  width: 214px;
  height: 34px;
  border: none;
  background: url(/images/save.png); }
  .save:hover {
    background: url(/images/save.png);
    background-position: 0 100%;
    cursor: pointer; }

table.admin {
  font-size: 10pt;
  margin: 10px; }
  table.admin tr {
    border: 1px solid #AACCFF; }
    table.admin tr:hover {
      background: #F0FCFF; }
  table.admin th {
    text-align: center;
    border-bottom: 3px solid #4690DC;
    border-right: 1px solid #4690DC;
    padding: 5px;
    background: #46ABFC;
    color: white; }
  table.admin td {
    border-left: 1px solid #AACCFF;
    border-right: 1px solid #AACCFF;
    border-bottom: 1px dashed #AACCFF;
    padding: 10px; }

.orange-form {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px #aaaaaa;
  -moz-box-shadow: 2px 2px 2px #aaaaaa;
  box-shadow: 2px 2px 2px #aaaaaa;
  background: #fcfaeb;
  margin-top: 10px;
  padding: 20px; }
  .orange-form .operations .error {
    display: none;
    float: right; }
  .orange-form .operations div.operation {
    display: none;
    float: left; }
  .orange-form label {
    font-size: 13pt; }
    .orange-form label.required {
      padding-left: 9px;
      background: url("/images/star.png") no-repeat;
      background-position: left center; }
  .orange-form small.required {
    padding-left: 9px;
    background: url("/images/star.png") no-repeat;
    background-position: left center; }
  .orange-form .rights {
    font-size: 9pt; }
  .orange-form .description {
    font-size: 9pt;
    color: gray; }
  .orange-form .clear {
    clear: both;
    height: 10px; }
  .orange-form .col1 {
    float: left;
    width: 180px;
    padding-right: 20px; }
  .orange-form .col2 {
    float: left;
    width: 320px;
    padding-right: 10px; }
  .orange-form table label {
    text-align: right;
    float: right; }
  .orange-form table tr td {
    vertical-align: top; }
    .orange-form table tr td:first-child {
      padding-right: 50px; }
  .orange-form input[type=text], .orange-form input[type=password] {
    width: 60px;
    border: 1px solid #458cfe; }
    .orange-form input[type=text]:hover, .orange-form input[type=password]:hover {
      border: 1px solid orange; }
    .orange-form input[type=text].string, .orange-form input[type=password].string {
      width: 318px; }
  .orange-form input[type=submit] {
    width: 214px;
    height: 34px;
    border: none;
    margin-top: 20px;
    cursor: pointer; }
    .orange-form input[type=submit].add-lot {
      background: url(/images/add.png); }
    .orange-form input[type=submit].register {
      background: url(/images/register.png); }
    .orange-form input[type=submit]:hover {
      background-position: 0 100%; }
  .orange-form textarea {
    width: 318px;
    height: 150px;
    border: 1px solid #458cfe; }
    .orange-form textarea:hover {
      border: 1px solid orange; }

.fields_container {
  position: relative; }

.container {
  position: absolute; }

.characteristic {
  position: absolute; }

.time-range {
  position: absolute; }

.value {
  position: relative; }

.lot_form div.operation h3 {
  color: #ccc;
  margin: 10px 0 5px 0; }
.lot_form div.operation hr {
  border: none;
  border-top: 1px dotted #ccc;
  padding: 0;
  margin: 5px 0 0 0; }

.error {
  text-shadow: 1px 1px 1px #777;
  filter: dropshadow(color=#777777, offx=1, offy=1);
  height: 15px;
  background-color: #FFFE36;
  border: 1px solid #E1E16D;
  font-size: 11px;
  color: #000;
  padding: 3px 10px;
  margin-left: -2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-box-shadow: 0 0 6px #ddd;
  -webkit-box-shadow: 0 0 6px #ddd; }
  .error p {
    margin-top: 3px;
    text-shadow: 1px 1px 1px #777;
    filter: dropshadow(color=#777777, offx=1, offy=1); }

.admin-menu #admin_toggler {
  width: 14px;
  height: 15px;
  background-image: url(/images/remove.png);
  float: left;
  margin-top: 6px;
  cursor: pointer; }
.admin-menu .group {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-box-shadow: 0 0 6px #ddd;
  -webkit-box-shadow: 0 0 6px #ddd;
  background-image: url(/images/backgrounds/graytransplines.png);
  padding: 0 5px 5px 15px;
  float: left; }
  .admin-menu .group:hover {
    background-image: url(/images/backgrounds/graylines.png); }
  .admin-menu .group h1 {
    font-size: 14pt;
    font-weight: normal;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    color: white;
    opacity: 0.8;
    text-shadow: 1px 1px 1px #777;
    filter: dropshadow(color=#777777, offx=1, offy=1); }
    .admin-menu .group h1 a {
      color: inherit;
      text-decoration: none; }
.admin-menu .tab {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-box-shadow: 0 0 6px #ddd;
  -webkit-box-shadow: 0 0 6px #ddd;
  float: left;
  padding: 6px 8px 2px 8px;
  background-image: url(/images/backgrounds/transplines.png);
  color: white;
  font-size: 9pt; }
  .admin-menu .tab:hover {
    background-image: url(/images/backgrounds/lines.png); }
  .admin-menu .tab a {
    text-shadow: 1px 1px 1px #777;
    filter: dropshadow(color=#777777, offx=1, offy=1);
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase; }

.tree dl dt {
  margin: 0 20px 10px 0; }
  .tree dl dt a {
    color: orange;
    font-weight: bold; }
.tree dl dd {
  margin: 0; }
  .tree dl dd a {
    color: #444; }
    .tree dl dd a:hover {
      color: blue; }

.content .tools .look-at {
  padding-left: 16px;
  height: 16px;
  background: url("/images/zoom.png") no-repeat left center; }
.content .tools .print {
  padding-left: 20px;
  height: 16px;
  background: url("/images/print.png") no-repeat left center; }
.content .tools .cancel {
  padding-left: 11px;
  height: 16px;
  background: url("/images/cross.png") no-repeat left center; }
.content .lots {
  width: 680px; }
  .content .lots hr {
    border: none;
    border-bottom: 1px solid orange; }
  .content .lots .lot {
    padding: 10px; }
    .content .lots .lot hr {
      border: none;
      border-bottom: 1px dashed gray; }
    .content .lots .lot .picture {
      float: left;
      width: 85px;
      height: 65px;
      background: #F0F0F0;
      text-align: center; }
    .content .lots .lot label {
      font-weight: bold; }
    .content .lots .lot .description {
      width: 400px;
      border-right: 1px solid #DDD;
      line-height: 1.3;
      padding-right: 20px;
      padding-left: 10px; }
      .content .lots .lot .description a {
        color: black;
        text-decoration: none; }
        .content .lots .lot .description a:hover {
          text-decoration: underline; }
    .content .lots .lot .contacts {
      padding-left: 20px;
      width: 120px;
      min-height: 65px; }

/* ADMIN: FIXME: move to admin.scss */
.button {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  -webkit-box-shadow: 2px 2px 2px #aaaaaa;
  -moz-box-shadow: 2px 2px 2px #aaaaaa;
  box-shadow: 2px 2px 2px #aaaaaa;
  background: #222;
  color: white;
  font-size: 10pt;
  padding: 3px;
  border: 2px solid white;
  text-decoration: none;
  cursor: pointer;
  margin: 20px; }
  .button:hover {
    background: darkred; }
  .button.edit {
    background: darkgreen; }
    .button.edit:hover {
      background: green;
      border: none; }
  .button.delete {
    background: red; }
    .button.delete:hover {
      background: lightred;
      border: none; }

/* UPLOADER: */
.upload-form input[type=file] {
  border: none;
  border: 1px solid blue;
  width: 100px; }

#pxUpload {
  cursor: pointer;
  width: 87px;
  height: 26px;
  background: url(/images/upload.png); }
  #pxUpload:hover {
    background-position: 0 bottom; }

#uploaded_images img {
  padding: 5px;
  background-color: white;
  color: white;
  border: 1px solid #DADADA;
  -webkit-box-shadow: 2px 2px 2px #aaaaaa;
  -moz-box-shadow: 2px 2px 2px #aaaaaa;
  box-shadow: 2px 2px 2px #aaaaaa; }

.uploadData {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  padding: 5px;
  width: 420px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #F0F8FF;
  border: 1px solid #B0D8FF;
  position: relative; }
