- if flash[:notice]
  .ui-widget
    .ui-state-highlight.ui-corner-all{:style => "margin: 20px 0 20px 0; padding: 0pt 0.7em;"}
      %p
        %span.ui-icon.ui-icon-info{:style => "float: left; margin-right: 0.3em;"}
        %strong Внимание!
        = flash[:notice]
