%h2 
  Редактирование контейнеров категории
  [
  = link_to @category.name, [:edit, @category], :class => 'red'
  (
  = render :partial => 'shared/breadcrumbs', :object => breads_for(@category)
  )
  ]
.l.i
  Если вы не находите здесь нужного контейнера, то это значит, что он находится в родительской категории

= render :partial => 'list', :object => @containers
.clear.h25
%h2 Создание нового контейнера
= render :partial => 'form'

.clear.h25
.clear.h25
