- content_for :js do 
  = javascript_include_tag 'dropdowner'

#categories_selector.apple_overlay
  %h2 Выберите рубрику
  .center
    %span.finisher
      Категория выбрана
      %a{:href => '#'} Продолжить
  .content
    %ul
      - Category.roots.each do |c|
        %li{:id    => c.id, 
            :class => c.leaf? ? 'leaf' : 'branch',
            :rel   => c.slug}= c.name
