.w680.left
  .clear.h15
  .w680
    %h1 Создание категории
    = render :partial => 'form'

  .clear.h25

.right.w240.center
  .banner.w240{:style => 'height: 400px'}
    .content 240x400
  .w240= image_tag 'temp/direct.png'

.clear
