= render :partial => 'breadcrumbs'

.clear.h15
%small= @category.description
.clear.h15

= render :partial => 'filter'

.right.w240.center
  .banner.w240{:style => 'height: 400px'}
    .content 240x400
  .w240= image_tag 'temp/direct.png'

.clear
