- characteristics.each do |c|
  = render :partial => 'characteristic',:object => c,:locals => {:layout        => c.form_layout,
                                                                 :element_style => 'padding-left: 4px; background: #458cfe;'}
