%h2 
  Редактирование операции для
  [
  = link_to @category.name, [:edit, @category], :class => 'red'
  (
  = render :partial => 'shared/breadcrumbs', :object => breads_for(@category)
  )
  ]

= render :partial => 'form'
= link_to 'Вернуться к списку операций', [@category, Operation]

.clear.h25
.clear.h25
