%h2 
  Редактирование операций категории
  [
  = link_to @category.name, [:edit, @category], :class => 'red'
  (
  = render :partial => 'shared/breadcrumbs', :object => breads_for(@category)
  )
  ]
.l.i
  Если вы не находите здесь нужной операции, то это значит, что она находится в родительской категории

= render :partial => 'list', :object => @operations
.clear.h25
%h2 Создание новой операции
= render :partial => 'form'

.clear.h25
.clear.h25
